<div class="modal">
  <div class="modal__header">
    <div class="modal__header">
      <h2 class="modal__header-title" mat-dialog-title>{{ dialogTitle | translation }}</h2>
      <span class="modal__close" (click)="dialogRef.close()">
        <i class="fa-solid fa-robot"></i><i class="fa-solid fa-stopwatch"></i>
      </span>
    </div>
    <span class="modal__close" (click)="dialogRef.close()">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </div>

  @if(renderForm) {
    @if (aiPrompt) {
      <div class="ai__prompt__container">
        <app-generic-input
          label="AI Prompt" type="textarea"
          [formGroup]="renderForm.inputFormGroup" controlName="prompt"
          [rows]="2" [submitted]="submitted"
        ></app-generic-input>
        <button class="button button__filled__submit" (click)="parsePrompt()">Parse it</button>
      </div>
    }

    <app-generic-form-renderer [renderForm]="renderForm"></app-generic-form-renderer>
  }
</div>
