<div class="not-found-content">
  <h1>HONK!</h1>
  <div class="icons">
    <i class="fa-solid fa-person-digging" style="font-size: 3rem;"></i>
    <i class="fa-solid fa-laptop-code" style="font-size: 5rem;"></i>
    <i class="fa-solid fa-person-digging" style="font-size: 3rem; transform: scaleX(-1);"></i>
  </div>
  <p>{{ LOCALIZATION_KEYS.IN_DEVELOPMENT.OOPS_PAGE | translation }}</p>
  @if (isAuthorized$ | async) {
    <button class="button button__filled__submit" routerLink="/home">{{ LOCALIZATION_KEYS.COMMON.GO_HOME | translation }}</button>
  } @else {
    <button class="button button__filled__submit" routerLink="/auth/sign-in">{{ LOCALIZATION_KEYS.COMMON.BACK_TO_SIGN_IN | translation }}</button>
  }
</div>
