<div class="card">
  @if(currentUser) {
    <div class="profile__header">
      <div class="profile__header__left">
        <div class="profile__avatar">
          <img [src]="'assets/images/avatar.png'" alt="Profile avatar" />
        </div>
        <div class="profile__info">
          <div class="profile__info-name">
            {{ userDisplayName }}
            @if(countryCode) {
              <img class="profile__country small" [src]="'https://flagcdn.com/w320/' + countryCode + '.png'" [alt]="countryCode" />!
            }
          </div>
          @if (currentUser.userSetting?.showCurrentPosition && currentPosition) {
            <div class="profile__info-company">{{ currentPosition.company }}</div>
            <div class="profile__info-position">
              {{ currentPosition.position }}
              <span class="profile__position-type glitch glitch-blue">{{ getJobType(currentPosition.jobTypeId) | translation }}</span>
              <span class="profile__position-type glitch glitch-blue">{{ getWorkArrangement(currentPosition.workArrangementId) | translation }}</span>
            </div>
            <div class="profile__info-location">{{ currentPosition.location }} {{ getCountry(currentPosition.countryId) | translation }}</div>
          }
          <div class="profile__info-email">
            <a class="link-button" [href]="'mailto:' + currentUser.email"><i class="fa-solid fa-envelope"></i> {{ currentUser.email }}</a>
          </div>
          @if (currentUser.phone) {
            <div class="profile__info-phone">
              <a class="link-button" [href]="'tel:' + currentUser.phone"><i class="fa-solid fa-phone"></i> {{ currentUser.phone }}</a>
            </div>
          }

          <div class="profile__social">
            @if(currentUser.userSetting) {
              @if(currentUser.userSetting.gitHubUrl) {
                <a [href]="'https://github.com/' + currentUser.userSetting.gitHubUrl" target="_blank"><i class="fa-brands fa-github"></i></a>
              }
              @if(currentUser.userSetting.linkedInUrl) {
                <a [href]="'https://www.linkedin.com/in/' + currentUser.userSetting.linkedInUrl" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              }
              @if(currentUser.userSetting.npmUrl) {
                <a [href]="'https://www.npmjs.com/' + currentUser.userSetting.npmUrl" target="_blank"><i class="fa-brands fa-npm"></i></a>
              }
            }
          </div>
        </div>
      </div>
      <div class="profile__header__right">
        <div class="card__header__buttons">
          @if (isCurrentUser) {
            <div class="button__icon" (click)="openEditProfileDialog()">
              <i class="fa-solid fa-pencil"></i>
            </div>
          }
        </div>

      </div>
    </div>
  }
</div>
