<div class="card">
  <div class="card__header">
    <h3 class="card__header-title">{{ title | translation }}</h3>
    <div class="card__header__buttons">
      <div class="button__icon" (click)="openItemDialog()">
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
  </div>
  <div class="profile__resume">
    @if (isEmptySection) {
      <div class="section__empty">
        <p>{{ LOCALIZATION_KEYS.COMMON.EMPTY_SECTION | translation }}</p>
      </div>
    } @else {
      @for(item of existingItems; track $index) {
        @if(item.profileItemType === itemType) {
          <div class="profile__resume__item">
            <div class="profile__resume__item-info">
              <div class="profile__resume__item-title">
                {{ item.position }}
              </div>
              <div class="profile__resume__item-company">
                {{ item.company }}
                <span class="profile__resume__item-type glitch glitch-blue">{{ getJobType(item.jobTypeId) | translation }}</span>
                <span class="profile__resume__item-type glitch glitch-blue">{{ getWorkArrangement(item.workArrangementId) | translation }}</span>
              </div>
              <div class="profile__resume__item-date">{{ item.startDate | monthYearFormat }} - {{ item.endDate ? (item.endDate | monthYearFormat) : (LOCALIZATION_KEYS.COMMON.CURRENT | translation) }}</div>
              <div class="profile__resume__item-location">{{ item.location }}, {{ getCountry(item.countryId) }}</div>
              <div class="profile__resume__item-description">{{ item.description }}</div>
              <div class="badges">
                @for(skill of item.skills; track $index) {
                  <div class="badge">{{ getSkillTitle(skill.userSkill) }}</div>
                }
              </div>
              <div class="badges">
                @for(language of item.languages; track $index) {
                  <div class="badge">{{ getLanguageTitle(language.userLanguage) }}</div>
                }
              </div>

            </div>
            <div class="profile__resume__item-edit" (click)="openItemDialog(item.id)">
              <i class="fa-solid fa-pencil"></i>
            </div>
          </div>
        }
      }
    }
  </div>
</div>
