@if(authFormGroup) {
    <div class="container__box container__box__sign-in">
      <div class="container__box__header">
        <h2 class="container__box__header-title">Job Pathfinder</h2>
        <div class="container__box__header-hint">
          Maybe we need back to
          <div style="position: relative; display: inline-block; width: 60px; height: 12px;">
            @if(showLang) {
              <div class="sign-in-hint glitch glitch-red" [@fadeInOut]>{{langArray[langIndex]}}</div>
            }
          </div>
        </div>
      </div>

      <form [formGroup]="authFormGroup" class="container__box__body">
        <div class="container__box__body-item">
          <app-generic-input [submitted]="submitted" type="input" placeholder="Login or Email" [formGroup]="authFormGroup" controlName="loginEmail"></app-generic-input>
        </div>
        <div class="container__box__body-item">
          <app-generic-input [submitted]="submitted" type="password" placeholder="Password" [formGroup]="authFormGroup" controlName="password"></app-generic-input>
        </div>
        <div class="container__box__body-item">
          <app-generic-input [submitted]="submitted" type="checkbox" label="Remember me" [formGroup]="authFormGroup" controlName="rememberMe"></app-generic-input>
        </div>
      </form>

      <div class="container__box__footer">
        <div class="container__box__footer-item">
          <button class="button button__link" routerLink="/auth/forgot">Forgot</button>
        </div>
        <div class="container__box__footer-item">
          <button class="button button__filled__submit" (click)="login()">Sign In</button>
        </div>
      </div>
      <div class="container__box__footer line">
        <button class="button button__link" routerLink="/auth/sign-up">Dont have an account? Sign Up</button>
      </div>
    </div>
}
