@if(renderForm) {
    <div class="container__box container__box__sign-in">
      <div class="container__box__header">
        <h2 class="container__box__header-title">Job Pathfinder</h2>
        <div class="container__box__header-hint">
          {{ LOCALIZATION_KEYS.AUTH.SIGN_IN.JOKE | translation }}
          <div style="position: relative; display: inline-block; width: 60px; height: 12px;">
            @if(showLang) {
              <div class="sign-in-hint glitch glitch-red" [@fadeInOut]>{{langArray[langIndex]}}</div>
            }
          </div>
        </div>
      </div>

      <app-generic-form-renderer [renderForm]="renderForm"></app-generic-form-renderer>

      <div class="container__box__footer line">
        <button class="button button__link" routerLink="/auth/sign-up">{{ LOCALIZATION_KEYS.AUTH.NO_ACCOUNT_SIGN_UP | translation }}</button>
      </div>
    </div>
}
