@if(authFormGroup) {
    <div class="container__box container__box__sign-in">
      <div class="container__box__header">
        <h2 class="container__box__header-title">Job Pathfinder</h2>
        <div class="container__box__header-hint">
          {{ 'AUTH.SIGN_IN.JOKE' | translation }}
          <div style="position: relative; display: inline-block; width: 60px; height: 12px;">
            @if(showLang) {
              <div class="sign-in-hint glitch glitch-red" [@fadeInOut]>{{langArray[langIndex]}}</div>
            }
          </div>
        </div>
      </div>

      <form [formGroup]="authFormGroup" class="container__box__body">
        <div class="container__box__body-item">
          <app-generic-input [submitted]="submitted" type="input" placeholder="COMMON.LOGIN_OR_EMAIL" [formGroup]="authFormGroup" controlName="loginEmail"></app-generic-input>
        </div>
        <div class="container__box__body-item">
          <app-generic-input [submitted]="submitted" type="password" placeholder="COMMON.PASSWORD" [formGroup]="authFormGroup" controlName="password"></app-generic-input>
        </div>
        <div class="container__box__body-item">
          <app-generic-input [submitted]="submitted" type="checkbox" label="COMMON.REMEMBER_ME" [formGroup]="authFormGroup" controlName="rememberMe"></app-generic-input>
        </div>
      </form>

      <div class="container__box__footer">
        <div class="container__box__footer-item">
          <button class="button button__link" routerLink="/auth/forgot">{{ 'COMMON.FORGOT' | translation }}</button>
        </div>
        <div class="container__box__footer-item">
          <button class="button button__filled__submit" (click)="login()" matTooltip="Honk">{{ 'COMMON.SIGN_IN' | translation }}</button>
        </div>
      </div>
      <div class="container__box__footer line">
        <button class="button button__link" routerLink="/auth/sign-up">{{ 'AUTH.NO_ACCOUNT.SIGN_UP' | translation }}</button>
      </div>
    </div>
}
