<div class="card">
  <div class="card__header">
    <h3 class="card__header-title">{{ LOCALIZATION_KEYS.COMMON.SKILLS | translation }}</h3>
    <div class="card__header__buttons">
      @if (isCurrentUser) {
        <div class="button__icon" (click)="openItemDialog()">
          <i class="fa-solid fa-plus"></i>
        </div>
      }
    </div>
  </div>
  <div class="badges">
    @if (isEmptySection) {
      <div class="section__empty">
        <p>{{ LOCALIZATION_KEYS.COMMON.EMPTY_SECTION | translation }}</p>
      </div>
    } @else {
      @for(skill of existingItems; track $index) {
        <div class="badge">
          {{ getItemTitle(skill) }}
          @if (isCurrentUser) {
            <i class="fa-solid fa-pencil" (click)="openItemDialog(skill.id)"></i>
            <i class="fa-solid fa-xmark" (click)="removeItem(skill.id!)"></i>
          }
        </div>
      }
    }
  </div>
</div>
