<footer class="footer">
  <div class="footer__center">
    <span class="footer__text">{{ LOCALIZATION_KEYS.COMMON.WE_ARE_HONKING | translation }}</span>
  </div>

  <div class="footer__social-links">
    <a href="https://www.linkedin.com/in/oleksandr-martynin/" target="_blank" rel="noopener noreferrer" class="footer__link">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/oleksandramarty/" target="_blank" rel="noopener noreferrer" class="footer__link">
      <i class="fab fa-github"></i> GitHub
    </a>
  </div>

  <div class="footer__version-wrapper">
    <span class="footer__text" style="color: #f44336; text-transform: uppercase;">
      [<strong>{{ LOCALIZATION_KEYS.COMMON.DO_NOT_STORE_ANY_SENSITIVE_DATA | translation }}</strong>]
    </span>
    @if(buildVersion !== 'production') {
      <span class="footer__text"> | </span>
      <span class="footer__text">
        [<strong>{{ buildVersion }}</strong>]
      </span>
      <span class="footer__text"> | </span>
      <span class="footer__text" (click)="turnOffLoader()">
        [<strong matTooltip="Turn off loader"
      ><i class="fa-solid fa-spinner"></i></strong>]
      </span>
      <span class="footer__text"> | </span>
      <span class="footer__text" (click)="resetSite()">
        [<strong matTooltip="Hard reset site"
      ><i class="fa-solid fa-power-off"></i></strong>]
      </span>
      <span class="footer__text"> | </span>
      <span class="footer__text" (click)="toggleTheme()">
        [<strong>{{ (darkTheme ? LOCALIZATION_KEYS.THEME.LIGHT : LOCALIZATION_KEYS.THEME.DARK) | translation }}</strong>]
      </span>
    }
  </div>
</footer>
