<div class="card">
  <div class="card__header">
    <h3 class="card__header-title">{{ 'COMMON.LANGUAGES' | translation }}</h3>
    <div class="card__header__buttons">
      <div class="button__icon" (click)="isEditMode = !isEditMode" [class.muted]="!isEditMode">
        <i class="fa-solid fa-pencil"></i>
      </div>
      <div class="button__icon" (click)="openLanguagesDialog(undefined, true)">
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
  </div>
  <div class="badges">
    @if (languagesToAdd) {
      @for(language of languagesToAdd; track $index) {
        <div class="badge">
          <div class="badge__language" [innerHTML]="getLanguageTitle(language)"></div>
          <i class="fa-solid fa-pencil" (click)="openLanguagesDialog(language.id, true)"></i>
          <i class="fa-solid fa-xmark" (click)="removeLanguage(language.id!, true)"></i>
        </div>
      }
    }
    @if (!!existingLanguages) {
      @for(language of existingLanguages; track $index) {
        <div class="badge">
          {{ getLanguageTitle(language) }}
          @if(isEditMode) {
            <i class="fa-solid fa-pencil" (click)="openLanguagesDialog(language.id)"></i>
            <i class="fa-solid fa-xmark" (click)="removeLanguage(language.id!)"></i>
          }
        </div>
      }
    }
      @if (
        (!languagesToAdd || !!languagesToAdd && languagesToAdd.length === 0) &&
        (!existingLanguages || !!existingLanguages && existingLanguages.length === 0)) {
      <div class="section__empty">
        <p>{{ 'PROFILE.EMPTY_SECTION' | translation }}</p>
      </div>
    }
  </div>
</div>
